<template name="home">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112241308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112241308-1');
    </script>

    <meta charset="utf-8">
    <meta name="google-site-verification" content="Usjv-a4-PpkQiD-jSAdKghw5-NROTzAZFMDkF_jv5Vo" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"                content="http://www.rondaalarmes.com.br/" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Ronda Alarmes - Segurança Eletrônica" />
    <meta property="og:description"        content="Segurança Eletrônica para Sua Proteção" />
    <meta property="og:image"              content="https://i.imgur.com/6SzLM70.png" />

    <title>Ronda Alarmes</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="client/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img style="height: 90%; float: left;" src="img/rondaLogo.png" alt="Ronda Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Serviços </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Soluções </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Boletos/WebAlarmes</button>
                <div class="dropdown-content">
                  <a href="http://201.22.148.197:9596/portalservice">Boletos</a>
                  <a href="http://www.webalarme.com.br">WebAlarmes</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contato </a>
            </li>
            <li class="nav-item">
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading" style="color: #f80000; text-shadow: 2px 0 0 #000, -2px 0 0 #000,
          0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000,
          -1px 1px 0 #000; text-transform: uppercase; font-size: 42px;">
            <img style="padding-top: 0px; width: 25%;" src="img/RONDA.png" alt="Ronda Logo">
            <br>Segurança<br>Eletrônica
          </div>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Nossos Serviços</h2>
            <h2 style="font-weight: 400; font-style: italic;"
            class="section-subheading">A <b>Ronda Alarmes</b> tem como missão
              proporcionar aos clientes tranquilidade e qualidade de vida,
              protegendo seus bens materiais e seus familiares.</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/concertina.jpg" alt="Concertina">
            </span>
            <h2 class="service-heading">Concertinas</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/cerca.jpg" alt="Cerca">
            </span>
            <h2 class="service-heading">Cercas Elétricas</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/rastreamento.jpg" alt="Rastreamento">
            </span>
            <h2 class="service-heading">Rastreamento Veícular (Fulltime)</h2>
          </div>
        </div>
      </div>

      <!-- Services 2 Column -->
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/moni.jpg" alt="Portaria">
            </span>
            <h2 class="service-heading">Portaria Virtual ou Remota</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/seguranca.jpg" alt="Seguranca">
            </span>
            <h2 class="service-heading">Segurança Pública</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/alarmeMonitorado.png" alt="Alarme">
            </span>
            <h2 class="service-heading">Alarme Monitorado 24 Horas</h2>
          </div>
        </div>
      </div>

      <!-- Services 3 Column -->
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/analogica.jpg" alt="Alarme">
            </span>
            <h2 class="service-heading">Cameras Analógicas em HD e IP</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/iphone.jpg" alt="Alarme">
            </span>
            <h2 class="service-heading">Imagem em Tempo Real</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/internet.jpg" alt="Alarme">
            </span>
            <h2 class="service-heading">Relatório de Abertura e Fechamento</h2>
          </div>
        </div>
      </div>

      <!-- Services 4 Column -->
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/atendimento.jpg" alt="Alarme">
            </span>
            <h2 class="service-heading">Apoio Técnico</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/viaturas.jpg" alt="Alarme">
            </span>
            <h2 class="service-heading">Viaturas de Pronta Resposta</h2>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <img style="border-radius: 50%; width:90%; height:90%; object-fit: contain;" src="img/painel.jpg" alt="Alarme">
            </span>
            <h2 class="service-heading">Monitoramente de Imagem via Rádio e Vídeo</h2>
          </div>
        </div>
      </div>

    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Soluções Inteligentes</h2>
            <h3 class="section-subheading">Nossos produtos e serviços tem valores acessíveis e boas condições de pagamento,
            trabalhamos com qualidade, garantia profissional e excelência no atendimento.</h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link js-scroll-trigger" href="como_evitar_falso_alarme">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/post10.jpeg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Como evitar um falso alarme</h4>
            <p class="text-muted">Dicas de como proceder para evitar que seu alarme dispare de maneira errônea</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link js-scroll-trigger" href="por_que_contratar_controle_de_acesso">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/post9.jpeg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Por que investir em controle de acesso</h4>
            <p class="text-muted">Investir em segurança é sempre um ótimo negócio, sua tranquilidade não tem preço</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link js-scroll-trigger" href="seguranca_para_condominio">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/post8.jpeg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Segurança para condomínio</h4>
            <p class="text-muted">Proteja seu condomínio de maneira eficaz</p>
          </div>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination navbar-right">
            <li><a style="color: #e83e3e" href="postagens">Todas as postagens</a></li>
          </ul>
        </nav>
      </div>
    </section>

    <!-- Clients -->
    <h1 class="text-center">Parceiros e Certificados</h1>
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" style="width: 70%" src="img/logos/sec.jpeg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/abese.jpg" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img class="img-fluid d-block mx-auto" src="img/logos/siese.png" alt="">
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
              <img style="width: 65%" class="img-fluid d-block mx-auto" src="img/logos/crea2.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      {{> email}}
    </section>

    <!-- Footer -->
    <footer>
      <div class="container" style="font-weight: 900;">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">QNF 24, Lote 36 - Taguatinga<br>Brasília - DF<br>CEP: 72125-740</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright">(61) 3034-3598<br>comercial@rondaalarmes.com.br</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="client/vendor/jquery/jquery.min.js"></script>
    <script src="client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="client/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="client/js/jqBootstrapValidation.js"></script>
    <script src="client/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="client/js/agency.min.js"></script>
    <script src="client/js/script.js"></script>

  </body>

</template>
