<!-- Para criar uma nova postagem, deve seguir alguns passos básicos:
PRIMEIRO: Copie o arquivo exemplo.html e cole a nova página dentro de templates, coloque o nome desejado
SEGUNDO: Faça as alterações desejadas no corpo do site, não altere menu ou rodapé, só trabalhe com textos
TERCEIRO: Para adicionar imagem a postagem, deve-se colocar a imagem na pasta public do projeto
QUARTO: no arquivo router.js adicione um novo link com os nomes criados
QUINTO: No ambiente git faça o commit das suas alterações ATENÇÂO **Adicionando somente o arquivo HTML criado
e o router.js, nada mais deve ser adicionando**
  Comandos para git: git status
                     git add *arquivo criado*
                     git add router.js
                     git commit -m "Ubiki"
                     git push origin master
SEXTO: Faça deploy pelo Heroku
-->


<template name="post3">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112241308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112241308-1');
    </script>

    <title>Ronda Alarmes</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="client/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://www.rondaalarmes.com.br"><img style="height: 90%; float: left;" src="img/rondaLogo.png" alt="Ronda Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://www.rondaalarmes.com.br#services">Serviços </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="http://www.rondaalarmes.com.br#portfolio">Soluções </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Boletos/WebAlarmes</button>
                <div class="dropdown-content">
                  <a href="http://201.22.148.197:9596/portalservice">Boletos</a>
                  <a href="http://www.webalarme.com.br">WebAlarmes</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contato </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-light" id="post">
    <div class="container" align="justify">
            <!-- Título da postagem -->
            <h2 class="section-heading text-uppercase"><center>Por que<br>contratar uma <br>empresa de<br>
            segurança </center></h2>
            <!-- Sub-título da postagem -->
            <p class="item-intro text-muted"></p>
            <!-- Imagem da postagem -->
            <img class="img-fluid d-block mx-auto" style="width: 50%" src="img/artigo3.jpeg" alt="">
            <!-- Se inicia parágrafos com <p> e se termina com </p> -->
            <p>
            <!-- Para quebrar linhas se utiliza <br> -->
              <br>
            </p>
            <p>
            <!-- Para deixar uma palavra em negrito se utiliza <b> ao final da palavra fechamos com </b> -->
            Você finalmente consolidou aquilo que envisionava há muito, e agora tem seu próprio
            empreendimento. Provavelmente, para conseguir essa conquista, investiu muito dinheiro
            ali, não é mesmo? Você considerou contratar <b>empresas de segurança</b> para guardar seu
            patrimônio? Se a resposta foi não, pode estar pondo tudo a perder.
            </p>
            <p>
              <br>
            </p>
            <p>
              <!-- Título de tópico -->
              <h2><center>A importancia das empresas se segurança na saúde do seu negócio</center></h2>
              A violência cresce exponencialmente no país. A desigualdade social faz com que as
              pessoas almejem coisas que não têm, e, assim, dá abertura para aqueles com o
              caráter mais fraco buscarem tomar dos outros ao invés de conquistar por si.
              Assim, quando a oportunidade de um local desprotegido com itens de valor aparece à sua frente,
              fica difícil garantir a integridade da moral. É como o ditado diz, “a oportunidade faz o ladrão”.
              Ou seja, deixar seu negócio desprotegido, sem contratar <b>empresas de segurança</b>, é deixá-lo à mercê
              de problemas mais sérios.
              Se engana quem pensa que só sua residência precisa ser resguardada. De fato, a segurança
              residencial é importante, mas empresas possuem uma diversidade de bens que geram lucros
              extremos a quem os saqueia, e as pessoas sabem disso.
              Da mesma forma, <b>empresas de segurança</b> que oferecem dispositivos eletrônicos, como câmeras,
              podem auxiliar não apenas em casos de furto.
              Isso porque, infelizmente, não é incomum se deparar também com casos de vandalismo, como
              grafite, ou até mesmo depredagem em iniciativa privada.
              Sem câmeras, você não pode identificar os culpados e acionar as autoridades.
              <br><br>
            </p>
            <p>
              <!-- Título de tópico -->
              <h2><center>A vigilância inibe o crime</center></h2>
              Com <b>empresas de segurança</b> em ação, saber que uma área é monitorada é
              uma medida preventiva muito eficiente. Quando se sabe que está sendo
              vigiado, monitorado, e pode ser facilmente identificado, a tendência
              é que nenhum cidadão se sinta propenso a cometer qualquer tipo de crimes.
              Dessa forma, <b>empresas de segurança</b> podem inibir desde invasões de propriedade a pequenos
              furtos que podem acontecer mesmo quando o empreendimento ainda está em horário de
              funcionamento.
              Além disso, é com esse tipo de monitoramento que você é capaz de dar aos funcionários a
              segurança que eles precisam.
              Afinal de contas, quantos empreendimentos não apareceram já em noticiários, com seus
              funcionários rendidos a mão armada? A maioria deles não contava com uma monitoria
              adequada, já que a última coisa que um assaltante quer é seu rosto estampado nos
              jornais após ser gravado por uma câmera de segurança.
              Da mesma forma, controles de acesso a áreas restritas garantem o cuidado com o
              estoque do local, e impedem invasões. Alarmes, por sua vez, permitem que as autoridades
              sejam acionadas imediatamente, aumentando a probabilidade da resolução do problema.
              Um ronda, ainda, é capaz de afugentar meliantes, e pedir apoio quando necessário, nunca
              deixando o negócio desprotegido.
              Sua empresa é seu patrimônio, e você com certeza não é o único que enxerga valor nela.
              Investir na segurança daquilo que você demorou e investiu tanto para construir é
              fundamental não apenas para manter sua integridade, mas para garantir a segurança
              daqueles que dedicam de seu tempo e mão de obra para colaborar com seu negócio,
              os seus funcionários. <br><br>
            </p>
            <!-- Data e categoria da postagem -->
            <ul class="list-inline">
              <li>Data de publicação: 30 de Janeiro de 2018</li>
              <li>Categoria: Importância empresa de segurança</li>
            </ul>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      {{> email}}
    </section>

    <!-- Footer -->
    <footer>
      <div class="container" style="font-weight: 900;">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">QNF 24, Lote 36 - Taguatinga<br>Brasília - DF<br>CEP: 72125-740</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright">(61) 3034-3598<br>comercial@rondaalarmes.com.br</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="client/vendor/jquery/jquery.min.js"></script>
    <script src="client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="client/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="client/js/jqBootstrapValidation.js"></script>
    <script src="client/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="client/js/agency.min.js"></script>
    <script src="client/js/script.js"></script>

  </body>

</template>
