<!-- Para criar uma nova postagem, deve seguir alguns passos básicos:
PRIMEIRO: Copie o arquivo exemplo.html e cole a nova página dentro de templates, coloque o nome desejado
SEGUNDO: Faça as alterações desejadas no corpo do site, não altere menu ou rodapé, só trabalhe com textos
TERCEIRO: Para adicionar imagem a postagem, deve-se colocar a imagem na pasta public do projeto
QUARTO: no arquivo router.js adicione um novo link com os nomes criados
QUINTO: No ambiente git faça o commit das suas alterações ATENÇÂO **Adicionando somente o arquivo HTML criado
e o router.js, nada mais deve ser adicionando**
  Comandos para git: git status
                     git add *arquivo criado*
                     git add router.js
                     git commit -m "Ubiki"
                     git push origin master
SEXTO: Faça deploy pelo Heroku
-->


<template name="post4">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112241308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112241308-1');
    </script>

    <title>Ronda Alarmes</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="client/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://www.rondaalarmes.com.br"><img style="height: 90%; float: left;" src="img/rondaLogo.png" alt="Ronda Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://www.rondaalarmes.com.br#services">Serviços </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="http://www.rondaalarmes.com.br#portfolio">Soluções </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Boletos/WebAlarmes</button>
                <div class="dropdown-content">
                  <a href="http://201.22.148.197:9596/portalservice">Boletos</a>
                  <a href="http://www.webalarme.com.br">WebAlarmes</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contato </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-light" id="post">
    <div class="container" align="justify">
            <!-- Título da postagem -->
            <h2 class="section-heading text-uppercase"><center>Proteja seu imóvel<br>enquanto<br>viaja</center></h2>
            <!-- Sub-título da postagem -->
            <p class="item-intro text-muted"></p>
            <!-- Imagem da postagem -->
            <img class="img-fluid d-block mx-auto" style="width: 50%" src="img/camera1.jpg" alt="">
            <!-- Se inicia parágrafos com <p> e se termina com </p> -->
            <p>
            <!-- Para quebrar linhas se utiliza <br> -->
              <br>
            </p>
            <p>
            <!-- Para deixar uma palavra em negrito se utiliza <b> ao final da palavra fechamos com </b> -->
            É verão e todo mundo só quer saber de viajar e curtir o sol, a família inteira se prepara
            para ir à praia, todo mundo faz as malas, fecha todas as janelas e portas da casa, e alguém
            grita: “deixa uma luz acessa para acharem que tem gente em casa”. Pense bem, <b>proteja seu
            imóvel enquanto viaja</b>.
            Todo ano, na época de férias, saem aquelas matérias falando sobre o aumento de roubos
            e furtos a residências. É sempre a mesma coisa, e o velho truque de deixar a luz acessa
            parece não estar mais adiantando.
            Por isso a Ronda Alarmes oferece serviços de segurança eletrônica especializados para
            que você <b>proteja seu imóvel</b> enquanto viaja e fique tranquilo na hora de curtir a praia
            e a família, sabendo que, na volta para casa, vai estar tudo como deixou.
            Se você já conhece os serviços oferecidos, alerte um amigo e dê o toque: <b>proteja seu
            imóvel enquanto viaja</b>.
            Nós da ronda Alarmes oferecemos concertinas, cercas elétricas, portaria virtual ou remota,
            segurança pública, alarme monitorado, câmeras de segurança em tempo real, e monitoramento
            de imagem via rádio e vídeo para seu imóvel.
            Assim você consegue viajar tranquilo e com segurança.
            </p>
            <p>
              <br>
            </p>
            <p>
              <!-- Título de tópico -->
              <h2><center>Algumas dicas para a segurança do seu imóvel</center></h2>
              <br>
              Aqui vão algumas dicas que junto com a segurança eletrônica pode ajudar a manter seu imóvel ainda mais seguro.
              <br>
              <br>
              <b>1.</b> Não anuncie sua ausência
              Apesar de ser tentador contar sobre uma viagem para todo mundo, você não deve anunciá-la em redes sociais. Contar para amigos mais íntimos sobre seu passeio tudo bem, mas espalhar no mundo online a sua ausência não é nenhum pouco seguro. Procure evitar falar sobre isso com desconhecidos.
              <br>
              <b>2.</b> Tranque a casa
              Lembre-se de trancar todas as portas e janelas da casa, inclusive as internas. Isso dificulta a circulação de um invasor, nunca facilite o acesso e a locomoção.
              <br>
              <b>3.</b> Não deixe luzes acesas
              Se você se encaixou no exemplo dado no início, cuidado! Ao contrário do que alguns pensam, a luz ligada durante viagens longas indica que a casa está vazia. Ninguém deixa uma mesma luz acesa 24 horas por 1 semana.
              <br>
              <b>4.</b> Suspenda a entrega de periódicos
              Se você tem assinatura de revista ou jornal, ligue e peça para suspender temporariamente a entrega durante o tempo de ausência. Pilhas de jornais e revistas no quintal são um atrativo para os invasores.
              <br>
              <b>5.</b> Vizinhança solidária
              Combine com um vizinho de confiança para que ele possa monitorar atividades suspeitas e chamar a polícia caso veja algo. Nas férias dele, seja você o monitorador, e crie uma vigilância solidária.
              <br>
              <b>6.</b> Desconecte o portão eletrônico
              Sempre que for viajar, além de desligar os aparelhos eletrônicos da tomada para economizar, desligue também o portão da garagem. Isso evita que ladrões possam abrir utilizando um controle universal.
              Essas foram algumas dicas que podem ajudar na hora de curtir a viagem de verão com a família. Desta vez não dê mole, proteja seu imóvel enquanto viaja e garanta uma volta tranquila e feliz para casa.
              <br>
              <br>
              <b>Fontes:</b>
              <link rel="stylesheet" href="/css/master.css">
              8 dicas para manter a casa segura enquanto viaja - <a href="https://viagemeturismo.abril.com.br/materias/8-dicas-para-manter-a-casa-segura-enquanto-viaja/">https://viagemeturismo.abril.com.br/materias/8-dicas-para-manter-a-casa-segura-enquanto-viaja/</a>
              <br><br>
            </p>
            <!-- Data e categoria da postagem -->
            <ul class="list-inline">
              <li>Data de publicação: 8 de Fevereiro de 2018</li>
              <li>Categoria: Segurança de imóveis</li>
            </ul>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      {{> email}}
    </section>

    <!-- Footer -->
    <footer>
      <div class="container" style="font-weight: 900;">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">QNF 24, Lote 36 - Taguatinga<br>Brasília - DF<br>CEP: 72125-740</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright">(61) 3034-3598<br>comercial@rondaalarmes.com.br</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="client/vendor/jquery/jquery.min.js"></script>
    <script src="client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="client/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="client/js/jqBootstrapValidation.js"></script>
    <script src="client/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="client/js/agency.min.js"></script>
    <script src="client/js/script.js"></script>

  </body>

</template>
