<!-- Para criar uma nova postagem, deve seguir alguns passos básicos:
PRIMEIRO: Copie o arquivo exemplo.html e cole a nova página dentro de templates, coloque o nome desejado
SEGUNDO: Faça as alterações desejadas no corpo do site, não altere menu ou rodapé, só trabalhe com textos
TERCEIRO: Para adicionar imagem a postagem, deve-se colocar a imagem na pasta public do projeto
QUARTO: no arquivo router.js adicione um novo link com os nomes criados
QUINTO: No ambiente git faça o commit das suas alterações ATENÇÂO **Adicionando somente o arquivo HTML criado
e o router.js, nada mais deve ser adicionando**
  Comandos para git: git status
                     git add *arquivo criado*
                     git add router.js
                     git commit -m "Ubiki"
                     git push origin master
SEXTO: Faça deploy pelo Heroku
-->


<template name="post2">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112241308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112241308-1');
    </script>

    <title>Ronda Alarmes</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="client/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://www.rondaalarmes.com.br"><img style="height: 90%; float: left;" src="img/rondaLogo.png" alt="Ronda Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://www.rondaalarmes.com.br#services">Serviços </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="http://www.rondaalarmes.com.br#portfolio">Soluções </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Boletos/WebAlarmes</button>
                <div class="dropdown-content">
                  <a href="http://201.22.148.197:9596/portalservice">Boletos</a>
                  <a href="http://www.webalarme.com.br">WebAlarmes</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contato </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-light" id="post">
    <div class="container" align="justify">
            <!-- Título da postagem -->
            <h2 class="section-heading text-uppercase"><center>Principais elementos<br> a serem considerados <br> ao escolher uma empresa <br>
            de segurança </center></h2>
            <!-- Sub-título da postagem -->
            <p class="item-intro text-muted"></p>
            <!-- Imagem da postagem -->
            <img class="img-fluid d-block mx-auto" style="width: 50%" src="img/artigo2.jpg" alt="">
            <!-- Se inicia parágrafos com <p> e se termina com </p> -->
            <p>
            <!-- Para quebrar linhas se utiliza <br> -->
              <br>
            </p>
            <p>
            <!-- Para deixar uma palavra em negrito se utiliza <b> ao final da palavra fechamos com </b> -->
            Decidir que você pode precisar de um serviço de segurança para ajudar a gerenciar
            a proteção do seu negócio é uma decisão importante e representa um novo compromisso
            de recursos financeiros. O processo pode ser confuso e os donos de empresas e as
            operadoras muitas vezes não têm certeza de quais opções de segurança se encaixam
            melhor em seus negócios e como encontrar uma empresa confiável.
            As dicas a seguir são elementos importantes a ter em mente ao procurar uma empresa para de
            serviços de segurança eletrônica para sua empresa.
            </p>
            <p>
              <br>
            </p>
            <p>
              <!-- Título de tópico -->
              <h2><center>Verifique licenciamento</center></h2>
              Um dos aspectos mais importantes da escolha de uma empresa de
              segurança é certificar-se de que eles são licenciados no estado
              ou região em que operam. Em Brasília o órgão que licencia e fiscaliza
              as empresa é a Secretaria de Segurança Pública.
              O licenciamento é importante porque mostra um compromisso de operar um negócio
              de qualidade. O licenciamento geralmente requer uma empresa para documentar suas
              ofertas de serviços e definir o escopo de suas operações. Além disso, como as leis
              estaduais e locais podem mudar de ano para ano, uma empresa totalmente licenciada
              está sempre atualizada com os mais recentes requisitos legais e de privacidade.
              Se uma empresa se comprometer a seguir todas as regras e regulamentos para
              permanecer totalmente licenciado em sua área de operação, então é seguro dizer
              que essa mesma atenção aos detalhes irá diminuir em suas ofertas de serviços.
              Além disso, o licenciamento ajuda a eliminar as empresas clandestinas que podem
              não ter seus melhores interesses ou os seus negócios em mente. Além disso não
              dispões de profissionais realmente capacitados tecnicamente para uma correta e segura instalação.
              <br><br>
            </p>
            <p>
              <!-- Título de tópico -->
              <h2><center>Seja honesto sobre suas necessidades de segurança</center></h2>
              Ao se encontrar com qualquer fornecedor potencial, é importante
              ser completamente honesto sobre suas necessidades e desejos de
              segurança. Você quer ostensividade? Monitoramento 24 horas?
              Proteção física no local? Outra solução mais especializada?
              Qualquer bom fornecedor deve fazer essas perguntas na frente.
              Além disso, qualquer pessoa que tenta empurrar uma única solução que não
              atende às necessidades e desejos desejados é mais do que provável que não
              seja um provedor de segurança legítimo. Um bom fornecedor deve ouvir o que
              espera que os resultados desejados sejam e, em seguida, oferecer soluções
              personalizadas que funcionem melhor para o seu negócio. <br><br>
            </p>
            <p>
              <!-- Título de tópico -->
              <h2><center>Pergunte sobre a história da empresa</center></h2>
              Um fator que pode ajudar a diferenciar facilmente entre uma boa
              empresa de segurança e uma empresa de segurança é o quanto tempo
              eles já atuam no mercado. Uma boa empresa é totalmente licenciada,
              ativa na comunidade e combina cuidadosamente as soluções de
              segurança com as necessidades e desejos de seus clientes.
              Uma boa empresa de segurança atende a todos os itens acima e mais.
              A marca de uma grande empresa é a participação em eventos e conferências
              da indústria. Por quê? Porque o rosto da segurança está mudando - rápido.
              Os avanços na tecnologia digital e os métodos e formas em que podem ser
              implantados estão em constante evolução e se tornam cada vez mais aplicáveis
              ​​a uma variedade de situações.
              As empresas que participam de feiras, organizações comerciais e educação
              continuada podem permanecer na vanguarda desta tecnologia e fornecer informações
              corretas e atualizadas aos consumidores. Além disso, uma vez que a maior parte da
              segurança é focada eletronicamente, uma grande parte da segurança é a proteção do
              equipamento contra hackers e outras partes que podem comprometer suas soluções de
              segurança empresarial. Estar atualizado sobre as ameaças aos próprios sistemas de
              segurança é uma necessidade crítica no mercado de hoje.
              Ao escolher um negócio de segurança, a <b>Ronda Alarmes</b> atende a todos os itens acima e mais.
              <br><br>
            </p>
            <!-- Data e categoria da postagem -->
            <ul class="list-inline">
              <li>Data de publicação: 18 de Janeiro de 2018</li>
              <li>Categoria: Escolha da empresa de segurança</li>
            </ul>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      {{> email}}
    </section>

    <!-- Footer -->
    <footer>
      <div class="container" style="font-weight: 900;">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">QNF 24, Lote 36 - Taguatinga<br>Brasília - DF<br>CEP: 72125-740</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright">(61) 3034-3598<br>comercial@rondaalarmes.com.br</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="client/vendor/jquery/jquery.min.js"></script>
    <script src="client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="client/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="client/js/jqBootstrapValidation.js"></script>
    <script src="client/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="client/js/agency.min.js"></script>
    <script src="client/js/script.js"></script>

  </body>

</template>
