<!-- Para criar uma nova postagem, deve seguir alguns passos básicos:
PRIMEIRO: Copie o arquivo exemplo.html e cole a nova página dentro de templates, coloque o nome desejado
SEGUNDO: Faça as alterações desejadas no corpo do site, não altere menu ou rodapé, só trabalhe com textos
TERCEIRO: Para adicionar imagem a postagem, deve-se colocar a imagem na pasta public do projeto
QUARTO: no arquivo router.js adicione um novo link com os nomes criados
QUINTO: No ambiente git faça o commit das suas alterações ATENÇÂO **Adicionando somente o arquivo HTML criado
e o router.js, nada mais deve ser adicionando**
  Comandos para git: git status
                     git add *arquivo criado*
                     git add router.js
                     git commit -m "Ubiki"
                     git push origin master
SEXTO: Faça deploy pelo Heroku
-->


<template name="post1">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112241308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112241308-1');
    </script>

    <title>Ronda Alarmes</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="client/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://www.rondaalarmes.com.br"><img style="height: 90%; float: left;" src="img/rondaLogo.png" alt="Ronda Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://www.rondaalarmes.com.br#services">Serviços </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="http://www.rondaalarmes.com.br#portfolio">Soluções </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Boletos/WebAlarmes</button>
                <div class="dropdown-content">
                  <a href="http://201.22.148.197:9596/portalservice">Boletos</a>
                  <a href="http://www.webalarme.com.br">WebAlarmes</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contato </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-light" id="post">
    <div class="container" align="justify">
            <!-- Título da postagem -->
            <h2 class="section-heading text-uppercase"><center>Segurança eletrônica para empresas</center></h2>
            <!-- Sub-título da postagem -->
            <p class="item-intro text-muted"></p>
            <!-- Imagem da postagem -->
            <img class="img-fluid d-block mx-auto" style="width: 50%" src="img/artigo1.jpg" alt="">
            <!-- Se inicia parágrafos com <p> e se termina com </p> -->
            <p>
            <!-- Para quebrar linhas se utiliza <br> -->
              <br>
            </p>
            <p>
            <!-- Para deixar uma palavra em negrito se utiliza <b> ao final da palavra fechamos com </b> -->
            Quando as empresas optam pela <b>contratação de empresas de segurança eletrônica</b> para a <b>segurança
            patrimonial</b> da empresa para proteger seus bens e pessoas em locais que sofrem com os altos
            índices de criminalidade, é evidente que elas esperam que a implantação ocorra no menor tempo
            possível.
            Este é o caso por exemplo, se houve um aumento significativo e repentino no número de
            imóveis invadidos, roubos e furtos na sua região? Ou ainda se você teve problemas com a
            atual prestação de serviços de segurança e precisa encontrar uma solução com urgência?
            </p>
            <p>
              <br>
            </p>
            <p>
              <!-- Título de tópico -->
              <h2><center>A terceirização da segurança</center></h2>
              Na área da segurança corporativa, a terceirização dá acesso a profissionais bem qualificados,
               equipamentos de ponta e menores custos de manutenção. Além disso, saber escolher uma
               corporação que siga padrões técnicos e operacionais de alta qualidade é crucial para o
               sucesso do plano de segurança interno.
              O serviço de segurança e vigilância corporativo vai além da prevenção contra assaltos, invasões e furtos.
              Ele também atua dentro da companhia na prevenção de incidentes e no rastreamento de vulnerabilidades.
              Além disso, o agente de segurança deve estar pronto para prestar suporte em situações atípicas onde a
              sua presença for necessária.
              Nos últimos anos, as empresas de vigilância terceirizada se modernizaram. Com o auxílio de equipamentos
               de ponta, treinamentos constantes, reciclagem profissional e seleção rigorosa de profissionais
               (seguindo rígidos critérios de segurança), elas ganharam confiança do mercado. Diante disso,
               diversos setores da indústria e do comércio (como shoppings e clubes) optam pela contratação
               de uma empresa privada para proteger os seus colaboradores, clientes e ativos. Entre os principais
                motivos por essa escolha, podemos destacar:<br><br>
              - Contratação simplificada: a terceirização diminui a burocracia na contratação de profissionais
              de segurança.<br><br>
              - Diminuição de gastos: por meio da terceirização, as empresas não precisam se preocupar com os
              custos relacionados aos processos de seleção, contratação e treinamento de profissionais.<br><br>
              - Maior disponibilidade: a terceirização permite que profissionais estejam, em alguns casos,
              disponíveis para o trabalho em campo, graças aos modelos de contratação mais flexíveis.<br><br>
              - Maior flexibilidade: a demanda por vigilantes será planejada de acordo com as necessidades
               da companhia, o que facilita a gestão dos recursos humanos presentes no campo de trabalho.
              - Aumento da produtividade: ao diminuir a carga dos profissionais responsáveis pela gestão de
               pessoal e aumentar a sensação de segurança entre os colaboradores, a produtividade dos
               funcionários aumentará.<br><br>
              - Melhor preparo técnico: a terceirização é o melhor método para empresas de grande, médio e
              pequeno porte obterem acesso rápido e simplificado a agentes de segurança especializados e
              com grande preparo técnico. Eles estarão em dia com as melhores técnicas de proteção e
              gerenciamento de equipamentos, pessoas e instalações corporativas.<br><br>
              Há poucos anos, a terceirização era uma opção disponível apenas para empresas de grande
              porte. Diante das mudanças do mercado e a adoção de novos modelos de gestão, essa alternativa
              tornou-se viável para companhias de menor porte, que agora podem contratar os serviços de
              corporações de segurança sem a necessidade de realizar grandes investimentos. No ramo da
              segurança, as empresas especializadas permitem a redução de custos indiretos, do tempo
              gasto com o gerenciamento de recursos humanos e o treinamento de funcionários.<br><br>
            </p>
            <!-- Data e categoria da postagem -->
            <ul class="list-inline">
              <li>Data de publicação: 17 de Janeiro de 2018</li>
              <li>Categoria: Segurança para empresas</li>
            </ul>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      {{> email}}
    </section>

    <!-- Footer -->
    <footer>
      <div class="container" style="font-weight: 900;">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">QNF 24, Lote 36 - Taguatinga<br>Brasília - DF<br>CEP: 72125-740</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright">(61) 3034-3598<br>comercial@rondaalarmes.com.br</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="client/vendor/jquery/jquery.min.js"></script>
    <script src="client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="client/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="client/js/jqBootstrapValidation.js"></script>
    <script src="client/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="client/js/agency.min.js"></script>
    <script src="client/js/script.js"></script>

  </body>

</template>
