<template name="todos_posts">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112241308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112241308-1');
    </script>

    <meta charset="utf-8">
    <meta name="google-site-verification" content="Usjv-a4-PpkQiD-jSAdKghw5-NROTzAZFMDkF_jv5Vo" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"                content="http://www.rondaalarmes.com.br/" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Ronda Alarmes - Segurança Eletrônica" />
    <meta property="og:description"        content="Segurança Eletrônica para Sua Proteção" />
    <meta property="og:image"              content="https://i.imgur.com/6SzLM70.png" />

    <title>Ronda Alarmes</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="client/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="http://www.rondaalarmes.com.br"><img style="height: 90%; float: left;" src="img/rondaLogo.png" alt="Ronda Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse"  id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="http://www.rondaalarmes.com.br/#services">Serviços </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="http://www.rondaalarmes.com.br#portfolio">Soluções </a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Boletos/WebAlarmes</button>
                <div class="dropdown-content">
                  <a href="http://201.22.148.197:9596/portalservice">Boletos</a>
                  <a href="http://www.webalarme.com.br">WebAlarmes</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="http://www.rondaalarmes.com.br/#contact">Contato </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Postagens e artigos</h2>
            <h3 class="section-subheading"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="solucoes_Inteligentes">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/residenciaFull.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Soluções inteligentes</h4>
              <p class="text-muted">Soluções para segurança do seu lar e da sua empresa, protegendo seus
                bens e sua família com eficácia.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="seguranca_para_empresas">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/artigo1mini.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Segurança para empresas</h4>
              <p class="text-muted">Soluções ideais para assegurar seu patrimônio.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="principais_elementos_para_escolha_de_empresa_de_seguranca">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/artigo2mini.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Elementos a serem considerados na escolha de uma empresa de segurança</h4>
              <p class="text-muted">Os principais pontos que devem ser analisados para escolher
              a sua empresa de segurança.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="porque_contratar_uma_empresa_de_seguranca">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/artigo3mini.jpeg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Por que contratar uma empresa de segurança?</h4>
              <p class="text-muted">A importância das empresas de segurança
                na saúde de seu negócio</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="proteja_seu_imovel_enquanto_viaja">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/camera1.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Proteja seu imóvel enquanto viaja</h4>
              <p class="text-muted">Proteja e deixe seu lar seguro para viajar com mais tranquilidade</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="seguranca_para_residencia">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/post5.jpeg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Segurança para sua residência</h4>
              <p class="text-muted">Soluções para garantir a segurança do seu lar</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="cuidado_com_suas_postagens">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/post6.jpeg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Cuidados com as redes sociais</h4>
              <p class="text-muted">Cuidados que devem ser tomados com informações divulgadas em redes sociais</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="seguranca_para_condominio">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/post8.jpeg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Segurança para condomínio</h4>
              <p class="text-muted">Proteja seu condomínio de maneira eficaz</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link js-scroll-trigger" href="como_agir_durante_um_assalto">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/post7.jpeg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Como agir durante um assalto</h4>
              <p class="text-muted">Conselhos para situações de risco e abordagem</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      {{> email}}
    </section>

    <!-- Footer -->
    <footer>
      <div class="container" style="font-weight: 900;">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">QNF 24, Lote 36 - Taguatinga<br>Brasília - DF<br>CEP: 72125-740</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <span class="copyright">(61) 3034-3598<br>comercial@rondaalarmes.com.br</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="client/vendor/jquery/jquery.min.js"></script>
    <script src="client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="client/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="client/js/jqBootstrapValidation.js"></script>
    <script src="client/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="client/js/agency.min.js"></script>
    <script src="client/js/script.js"></script>

  </body>

</template>
